.input-group{
    margin-bottom: 25px;
}
.input-group-btn button{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.book-box{
    display: flow-root;
    box-shadow: 0 50px 78px -47px grey;
    border-radius: 10px;
    /*border: 1px solid gray;*/
    overflow: hidden;
    padding: 15px;
    margin-bottom: 30px;
}
.delete-book{
    position: relative;
    float: right;
    color: black;
}
.book-box img{
    float: left;
    border-radius: 10px;
    box-shadow: 0 25px 39px -24px grey;
    margin-right: 15px;
    border: 1px solid gray;
}
.book-box-2{
    padding: 15px;
    margin-bottom: 30px;
}
.book-box-2 img{
    float: left;
    border-radius: 10px;
    margin-right: 15px;
    border: 1px solid gray;
}
.book-box-2 p{
    text-align: justify;

}
.book-box-content{
    margin-left: 25px;
    margin-top: 10px;
}
.book-box-content h1{
    font-size: 1.5rem;
}
.book-box-content h3{
    font-size: 1.1rem;
}
.book-box-content h5{
    font-size: 0.7rem;
    color: gray;
}
.book-box-content a{
    position: relative;
    margin-bottom: 10px;
    text-align: center;
}
